.CFUserTextEncoding
.DS_Store
.Trash/
.android/
.pentaho-meta/
.appcfg_cookies
.appcfg_nag
.bash_history
.schemaWorkbench/
.semanticdb/
.srecode/
.subversion/
.bash_profile
.dropbox/
.emacs.d/
.kettle/
.nchsoftware/
.pentaho/
.python-eggs/
.ssh/
.swt/
.viminfo
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
android-ndk-r8b/
android-sdk-macosx/
google_appengine